$exp-img-width: 100px;
$exp-img-height: 100px;
$toyota-img-width: 65px;
$tesla-img-height: 50px;

.App {
  text-align: center;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: large;
}
  
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #7085b1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

section {
  width: 1250px;
  margin: 50px auto 75px;
  .sectionTitle{
    font-size: 30px;
    // font-weight: bold;
    margin: 20px 0;
    text-decoration: underline;
  }
}

.aboutSection{
  .hugeFont{
    //font-family: 'Playfair Display', serif;
    // font-size: 60px;
    // margin: 10px;
    font-family: 'Permanent Marker', cursive;
    font-size: 75px;
    margin: 0px;
  }

  .aboutFlex{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2em;
    
    .aboutText{
      // width: 785px;
      text-align: left;
    }

    #profilePic {
      width: 350px;
      clip-path: circle();
      order: 0;
    }
  }
}

.skillsSection{
  margin-top: -50px;

  .devSkillsLine-1, .devSkillsLine-2{
    display: grid;
    align-items: center;
    justify-items: center;
    font-size:medium;
    img{
      padding-top: 10px;
    }
  }
  
  .devSkillsLine-1{
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    column-gap: 2em;
    padding-bottom: 10px;
    margin: 0 30px;
    img{
      height: 75px;
      margin-bottom: -5px;
    }
  }

  .devSkillsLine-2{
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, auto);
    column-gap: 2em;
    img{
      max-width: 50px;
      max-height: 45px;
    }
  }

  .expGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    // justify-items: center;
    column-gap: 5em;
    border: #282c34 1px solid;
    border-radius: 25px;
    margin: 0;
    padding: 0 40px; 

    .expGridTitle{
      grid-column: 1/3;
    }

    p{
      margin-bottom: 0;
    }
  
    .leftContainer, .rightContainer{
      width: 500px;
      margin-bottom: 20px;
      p{
        margin-top: 10px;
      }
    }

    .leftContainer{
      justify-self: end;
    }

    .rightContainer{
      justify-self: start;
    }

    .bottomContainer{
      grid-column: 1/3;
      display: flex;
      justify-content: center;

      .otherSkillsFlex{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 250px;
      }
      
      .otherSkillTile{
        display: flex;
        align-items: center;
        border: rgb(221, 221, 221) 2px solid;
        border-radius: 5px;
        padding: 5px;
        margin-bottom: 15px;
      }
    }
  }
}

.portfolioSection{
  text-align: center;
  // .projectFlex{
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   column-gap: 3em;
  //   margin-bottom: 40px;
  // }
  // .sectionTitle{
  //   border-bottom: #282c34 solid 1px;
  // }

  .projectGrid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    align-items: center;
    justify-content: center;
    column-gap: 3em;
    row-gap: 3em;
    margin-bottom: 40px;
  }
  
  .projectImg{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 400px;
    border: #282c34 1px solid;
    border-radius: 20px;
    overflow: hidden;
    img {
      height: 125%;
      margin: auto;

    }
  }
  
  .projectDiv{
    align-self: flex-start;
    text-align: left;
  }
  
  .appHeading{
    padding-bottom: 20px;
    a{
      font-size: x-large;
      font-weight: bold;
      text-decoration: none;
    }
  } 
}

.expSection{
  .otherExpFlex{
    justify-content: center;
    column-gap: 2em;
  }

  .currentExpFlex{
    justify-content: space-around;
  }

  .otherExpFlex, .currentExpFlex{
    display: flex;
    align-items: center;

    img{
      align-self: center;
    }
    #toyotaLogo{
      width: 85px;
    }
    #uwLogo{
      width: 95px;
      margin-top: 10px;
      clip-path: circle();
    }
    #canadaLogo{
      width: 90px;
      clip-path: circle();
    }
    #teslaLogo{
      align-self: center;
      height: 70px;
    }
  }
  
  .currentExpFlex{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    padding: 10px 0;
  }
  
  .otherExpFlex{
    margin-top: 5px;
  }
  
  .expLogoContainer{
    display: flex;
    justify-content: center;
    border: rgb(231, 231, 231) 1px solid;
    border-radius: 50%;
    background-color: white;
    height: $exp-img-height;
    width: $exp-img-width;
    margin-top: 5px;
    overflow: hidden;
  }

  .expFlex{
    display: flex;
    justify-content: space-between;
    column-gap: 25px;

    .leftContainer, .rightContainer{
      width: 430px;
      border: #282c34 1px solid;
      border-radius: 25px;
      padding: 0 85px 20px;
      p{
        margin-top: 10px;
      }
    }
  }
}

.contactSection{
  padding-bottom: 50px;
  .contactFlex{
    display: flex;
    justify-content: center;
    column-gap: 2em;
    img{
      width: 50px;
    }
    #linkedin{
      order: 0;
    }
    #github{
      order: 1;
    }
    #email{
      order: 2;
    }
  }
}

.alignCenter{
  text-align: center;
}

.alignLeft{
  text-align: left;
}

.xLargeFont{
  font-size:x-large;
}

.largeFont{
  font-size: large;
}

.mediumFont{
  font-size: medium;
}

.smallFont{
  font-size: small;
}

.underline{
  border-bottom: black 1px solid;
}

.noTopMargin{
  margin-top: 0;
}