$exp-img-width: 75px;
$exp-img-height: 75px;
$toyota-img-width: 65px;
$tesla-img-height: 50px;

.App {
  text-align: center;

}
  
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #7085b1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

section {
  border-bottom: 1px solid #282c34;
  padding: 20px 0;
}

.introSection{
  img {
    height: 300px;
    clip-path: circle();
  }
}

.aboutFlex{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5em;
  img {
    width: 300px;
    clip-path: circle();
    order: 2;
  }
}

.aboutText{
  width: 600px;
  text-align: left;
}

.portfolioSection{
  text-align: center;
}

.projectFlex{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3em;
  padding-bottom: 40px;
  img {
    width:300px;
    border: #282c34 1px solid;
  }
}

.projectDiv{
  align-self: flex-start;
  text-align: left;
  width: 600px;
}

.appHeading{
  padding-bottom: 20px;
  span{
    font-weight: bold;
    font-size: large;
  }
}

.expFlex{
  display: flex;
  justify-content: center;
  column-gap: 1em;
  padding: 0 40px; 
}

.devExp, .mechExp{
  width: 350px;
  border: #282c34 1px solid;
  border-radius: 25px;
  padding: 0 50px 20px;
  p{
    margin-top: 10px;
  }
}

.internFlex, .fulltimeFlex{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2em;
  img{
    width: $exp-img-width;
  }
}

.fulltimeFlex{
  
  margin-bottom: 5px;
}

.internFlex{
  margin-top: 5px;
}

.imgContainer{
  display: flex;
  justify-content: center;
  border: rgb(231, 231, 231) 1px solid;
  border-radius: 50%;
  background-color: white;
  height: $exp-img-height;
  width: $exp-img-width;
  margin-top: 5px;
}

.alignCenter{
  text-align: center;
}

.alignLeft{
  text-align: left;
}

.hugeFont{
  font-size: large;
}

.mediumFont{
  font-size: medium;
}

.smallFont{
  font-size: small;
}

.underline{
  border-bottom: black 1px solid;
}

.noTopMargin{
  margin-top: 0;
}

#toyotaLogo{
  width: $toyota-img-width;
}

#uwLogo{
  margin-top: 5px;
  clip-path: circle();
}

#canadaLogo{
  width: 65px;
  clip-path: circle();
}

#teslaLogo{
  align-self: center;
  height: $tesla-img-height;
}
