.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #7085b1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

section {
  border-bottom: 1px solid #282c34;
  padding: 20px 0;
}

.introSection img {
  height: 300px;
  -webkit-clip-path: circle();
          clip-path: circle();
}

.aboutFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 5em;
          column-gap: 5em;
}

.aboutFlex img {
  width: 300px;
  -webkit-clip-path: circle();
          clip-path: circle();
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.aboutText {
  width: 600px;
  text-align: left;
}

.portfolioSection {
  text-align: center;
}

.projectFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 3em;
          column-gap: 3em;
  padding-bottom: 40px;
}

.projectFlex img {
  width: 300px;
  border: #282c34 1px solid;
}

.projectDiv {
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: left;
  width: 600px;
}

.appHeading {
  padding-bottom: 20px;
}

.appHeading span {
  font-weight: bold;
  font-size: large;
}

.expFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1em;
          column-gap: 1em;
  padding: 0 40px;
}

.devExp, .mechExp {
  width: 350px;
  height: 300px;
  border: #282c34 1px solid;
  border-radius: 25px;
  padding: 0 50px 20px;
}

.internFlex, .fulltimeFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1em;
          column-gap: 1em;
  margin-top: 5px;
}

.internFlex img, .fulltimeFlex img {
  width: 75px;
}

.imgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: #afafaf 1px solid;
  border-radius: 50%;
  background-color: white;
  height: 75px;
  width: 75px;
  margin-top: 5px;
}

.alignCenter {
  text-align: center;
}

.alignLeft {
  text-align: left;
}

.hugeFont {
  font-size: large;
}

.smallFont {
  font-size: small;
}

.underline {
  border-bottom: black 1px solid;
}

.noTopMargin {
  margin-top: 0;
}

#canadaLogo {
  width: 65px;
  -webkit-clip-path: circle();
          clip-path: circle();
}

#toyotaLogo {
  width: 50px;
}

#teslaLogo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 50px;
}
/*# sourceMappingURL=App.css.map */