.App {
  text-align: center;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: large;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #7085b1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

section {
  width: 1250px;
  margin: 50px auto 75px;
}

section .sectionTitle {
  font-size: 30px;
  margin: 20px 0;
  text-decoration: underline;
}

.aboutSection .hugeFont {
  font-family: 'Permanent Marker', cursive;
  font-size: 75px;
  margin: 0px;
}

.aboutSection .aboutFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 2em;
          column-gap: 2em;
}

.aboutSection .aboutFlex .aboutText {
  text-align: left;
}

.aboutSection .aboutFlex #profilePic {
  width: 350px;
  -webkit-clip-path: circle();
          clip-path: circle();
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.skillsSection {
  margin-top: -50px;
}

.skillsSection .devSkillsLine-1, .skillsSection .devSkillsLine-2 {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  font-size: small;
}

.skillsSection .devSkillsLine-1 img, .skillsSection .devSkillsLine-2 img {
  padding-top: 10px;
}

.skillsSection .devSkillsLine-1 {
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  -webkit-column-gap: 2em;
          column-gap: 2em;
  padding-bottom: 10px;
}

.skillsSection .devSkillsLine-1 img {
  height: 75px;
  margin-bottom: -5px;
}

.skillsSection .devSkillsLine-2 {
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
  -webkit-column-gap: 2em;
          column-gap: 2em;
}

.skillsSection .devSkillsLine-2 img {
  max-width: 50px;
  max-height: 45px;
}

.skillsSection .expFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 3em;
          column-gap: 3em;
  border: #282c34 1px solid;
  border-radius: 25px;
  margin: 0;
  padding: 0 40px;
}

.skillsSection .expFlex p {
  margin-bottom: 0;
}

.skillsSection .expFlex .leftContainer, .skillsSection .expFlex .rightContainer {
  margin: 0 auto 20px;
}

.skillsSection .expFlex .leftContainer p, .skillsSection .expFlex .rightContainer p {
  margin-top: 10px;
}

.skillsSection .expFlex .line {
  border-left: grey 1px solid;
  margin: 40px 0;
}

.portfolioSection {
  text-align: center;
}

.portfolioSection .projectGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 3em;
          column-gap: 3em;
  row-gap: 3em;
  margin-bottom: 40px;
}

.portfolioSection .projectImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 200px;
  width: 400px;
  border: #282c34 1px solid;
  border-radius: 20px;
  overflow: hidden;
}

.portfolioSection .projectImg img {
  height: 125%;
  margin: auto;
}

.portfolioSection .projectDiv {
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: left;
}

.portfolioSection .appHeading {
  padding-bottom: 20px;
}

.portfolioSection .appHeading a {
  font-size: x-large;
  font-weight: bold;
  text-decoration: none;
}

.expSection .otherExpFlex, .expSection .currentExpFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2em;
          column-gap: 2em;
}

.expSection .otherExpFlex img, .expSection .currentExpFlex img {
  width: 75px;
}

.expSection .otherExpFlex #toyotaLogo, .expSection .currentExpFlex #toyotaLogo {
  width: 65px;
}

.expSection .otherExpFlex #uwLogo, .expSection .currentExpFlex #uwLogo {
  margin-top: 5px;
  -webkit-clip-path: circle();
          clip-path: circle();
}

.expSection .otherExpFlex #canadaLogo, .expSection .currentExpFlex #canadaLogo {
  width: 65px;
  -webkit-clip-path: circle();
          clip-path: circle();
}

.expSection .otherExpFlex #teslaLogo, .expSection .currentExpFlex #teslaLogo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 50px;
}

.expSection .currentExpFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.expSection .otherExpFlex {
  margin-top: 5px;
}

.expSection .expLogoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: #e7e7e7 1px solid;
  border-radius: 50%;
  background-color: white;
  height: 75px;
  width: 75px;
  margin-top: 5px;
}

.expSection .expFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 25px;
          column-gap: 25px;
}

.expSection .expFlex .leftContainer, .expSection .expFlex .rightContainer {
  width: 430px;
  border: #282c34 1px solid;
  border-radius: 25px;
  padding: 0 85px 20px;
}

.expSection .expFlex .leftContainer p, .expSection .expFlex .rightContainer p {
  margin-top: 10px;
}

.contactSection {
  padding-bottom: 50px;
}

.contactSection .contactFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 2em;
          column-gap: 2em;
}

.contactSection .contactFlex img {
  width: 50px;
}

.contactSection .contactFlex #linkedin {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.contactSection .contactFlex #github {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.contactSection .contactFlex #email {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.alignCenter {
  text-align: center;
}

.alignLeft {
  text-align: left;
}

.xLargeFont {
  font-size: x-large;
}

.largeFont {
  font-size: large;
}

.mediumFont {
  font-size: medium;
}

.smallFont {
  font-size: small;
}

.underline {
  border-bottom: black 1px solid;
}

.noTopMargin {
  margin-top: 0;
}
/*# sourceMappingURL=App.css.map */